body {
  font-family: sans-serif;
  background-color: #181818;
}

.project-title {
  color: white;
  text-align: center;
}

.flex {
  display: flex;
}

.container {
  position: relative;
  width: 500px;
}

.container-tile {
  position: relative;
  width: 300px;
}

.carousel {
  margin: auto;
  width: 80%;
}

.jumbo-carousel {
  margin: auto;
  width: 95%;
}

.jumbo-image {
  width: 500px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.overlay-tile {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  background-color: #181818;
  opacity: 0.8;
  overflow: auto;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.container-tile:hover .overlay-tile {
  height: 100%;
}

.text {
  color: white;
  font-size: 12px;
  position: relative;
  overflow: auto;
  width: 500px;
  word-wrap: normal;
}

.text-tile {
  color: white;
  font-size: 12px;
  position: absolute;
  overflow: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 296px;
  word-wrap: normal;
  text-align: left;
  padding-left: 6px;
}

.text-title {
  color: white;
  text-align: left;
  font-size: 15px;
  overflow: hidden;
  padding-left: 10px
}

.image-div {
  background-color: #505050;
  width: 300px;
  height: 215px;
  overflow: hidden;
}
