body {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #181818;
}
hr {
  border-color: black;
}
/*
* === Home and App Component Styling ===
*/
.project-logo {
  margin: 20px;
  max-width: 400px;
}
.logo-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading {
  text-align: center;
  color: white;
}
/*
* === Nav Button Component Styling ===
*/
.icon-style {
  height: 40px;
}
/*
* === Carousel Component Styling ===
*/
.carousel {
  margin: auto;
  width: 80%;
}
.carousel-title {
  color: white;
  font-size: 25px;
  padding-bottom: 10px;
}
/*
* === Jumbo Component Styling ===
*/
.dots-style {
  color: white;
  margin-bottom: 30px;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.overlay-jumbo {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: black;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(top, rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.7));
  /*Safari 5.1-6*/
  background: -o-linear-gradient(bottom, rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.7));
  /*Opera 11.1-12*/
  background: -moz-linear-gradient(bottom, rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.7));
  /*Fx 3.6-15*/
  background: linear-gradient(to bottom, rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.7));
  /*Standard*/
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.text-jumbo-title {
  color: white;
  font-size: 12px;
  padding-left: 12px;
  position: relative;
  overflow: auto;
  width: 450px;
  word-wrap: normal;
}
.text-jumbo {
  color: white;
  font-size: 12px;
  position: relative;
  overflow: auto;
  width: 450px;
  padding-left: 12px;
  padding-bottom: 40px;
  word-wrap: normal;
  text-align: left;
}
.jumbo-container {
  position: relative;
  max-width: 490px;
}
.jumbo-carousel {
  margin: auto;
  max-width: 95%;
}
.jumbo-image {
  max-width: 490px;
}
.jumbo-play {
  width: 100px;
  position: absolute;
  top: 20%;
  left: 40%;
}
/*
* === Tile Component Styling ===
*/
.container-tile {
  position: relative;
  width: 300px;
}
.overlay-tile {
  position: absolute;
  bottom: 31px;
  left: 0;
  right: 0;
  background-color: #181818;
  opacity: 0.8;
  overflow: auto;
  width: 100%;
  height: 0;
  transition: .5s ease;
}
.container-tile:hover .overlay-tile {
  height: 85%;
}
.text-tile {
  color: white;
  font-size: 12px;
  position: absolute;
  overflow: auto;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 296px;
  word-wrap: normal;
  text-align: left;
  padding-left: 6px;
}
.text-title {
  color: white;
  text-align: left;
  font-size: 15px;
  overflow: hidden;
  padding-left: 10px;
  background-color: #505050;
  height: 30px;
  display: flex;
  align-items: center;
}
.tile-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px 10px 0px 0px;
  z-index: 100;
  border: none;
  height: 26px;
  background-image: url('../icons/menu.svg');
  background-size: 12px 24px;
  background-repeat: no-repeat;
  background-color: transparent;
}
/* Dropdown Classes */
.dropdown {
  position: relative;
  display: inline-block;
  z-index: 100;
}
.dropdown-content {
  display: block;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 100;
  left: -100px;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown a:hover {
  background-color: #f1f1f1;
}
.noshow {
  display: none;
}
/* Image Classes */
.image-div {
  position: relative;
  width: 300px;
  height: 200px;
}
.image-tile {
  width: 300px;
}
.image-menu-btn {
  height: 30px;
}
